<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href="/css/common.css" th:href="@{/css/common.css}" rel="stylesheet">
    <link href="/layui/css/layui.css" th:href="@{/layui/css/layui.css}" rel="stylesheet">
    <title>青叶单词训练</title>
    <script src="/js/jquery-1.9.1.min.js" th:src="@{/js/jquery-1.9.1.min.js}"></script>
</head>
<body>
<!--顶栏-->
<nav  th:fragment="topbar">
    <div class="top">
        <div align="right">
            <button type="button" class="btn-sign"  style="vertical-align:middle"><span>免费注册</span></button>
            <button type="button" class="btn-log" style="vertical-align:middle"><span>马上登录</span></button>
        </div>
    </div>
</nav>

<!--导航栏--  position: relative;-->
<nav  th:fragment="daohangbar">
    <div style="width:100%;position: relative;background-color: #A9A9A9;">
        <ul class="layui-nav layui-bg-cyan">
            <!--<li class="layui-nav-item" style="width: 50px"><a href="">青叶</a></li>-->
            <li class="layui-nav-item layui-this" style="width: 70px"><a href="/backindex">首页</a></li>
            <li class="layui-nav-item" style="border: none;">
                <span>词汇练习</span>
                <dl class="layui-nav-child">
                    <dd><a href="/socketQuestion?level=1">中学词汇</a></dd>
                    <dd><a href="/socketQuestion?level=2">四六级词汇</a></dd>
                    <dd><a href="/socketQuestion?level=3">考研高频词汇</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item" style="border: none;">
                <span>词库管理</span>
                <dl class="layui-nav-child">
                    <dd><a href="/getQuestion?level=1">中学词汇</a></dd>
                    <dd><a href="/getQuestion?level=2">四六级词汇</a></dd>
                    <dd><a href="/getQuestion?level=3">考研热点高频</a></dd>
                    <dd><a href="/getQuestion">全部词汇管理</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item" style="border: none;"><a href="/backindex">错题本本</a></li>
        </ul>
    </div>
</nav>

<!--底部信息展示栏-->
<nav th:fragment="bottombar">
    <div class="foot" style="background-color:#323232 ;margin-top: 20px;">
        <br><br>
        <p style="color: #C7C7C7" align="center"><span style="color: #556666;">destiny@XuRuiBiao.com</span>&nbsp;&nbsp;xiaosha</p><br>
        <p style="color:#556666" align="center" ;>云南省昆明市呈贡区昆明理工大学</p><br>
        <p style="color:#C7C7C7;" align="center">电话:+86-133-249-00262</p><br>
    </div>
</nav>

</body>

<script type="text/javascript" src="layui/layui.js" th:src="@{/layui/layui.js}"></script>
<script>
    // 导航控制
    layui.use('element', function(){
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
        //监听导航点击
        element.on('nav(demo)', function(elem){
            //console.log(elem)
            layer.msg(elem.text());
        });
    });
</script>

</html>
