<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/layui/css/layui.css" th:href="@{/layui/css/layui.css}" rel="stylesheet">
</head>
<body>
<div style="margin-top: 17px;margin-left: 1103px;">
    <span>单词搜索：</span><input type="text" style="height: 27px;width: 220px;" id="sear1" placeholder="输入要查询的单词"/>
</div>

<div class="layui-card-body">
    <table class="layui-hide" id="test"></table>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="layui/layui.js" th:src="@{/layui/layui.js}"></script>
<script>
    layui.use('table', function(){
        var kw='';
        addData();
    });
    function addData(){
        var table = layui.table;
        table.render({
            elem: '#test'
            ,url:'/getPage'
            ,limit:11 //默认为10
            ,cols: [
                [
                {field:'qid', width:170, title: '编号', sort: true} //sort：true页面可进行排序操作
                ,{field:'word', width:170, title: '单词'}
                ,{field:'answer', width:120, title: '中文'}
            ]
            ]
            ,page: true
            ,done:function(res, curr, count){
                //数据的回调用，可不写
            }
        });
    }
</script>
</body>
</html>
