<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>答题页面</title>
  <script src="/js/jquery-1.9.1.min.js" th:src="@{/js/jquery-1.9.1.min.js}"></script>
  <link href="/css/bootstrap.css"  th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
  <link href="/css/questionsocket.css"  th:href="@{/css/questionsocket.css}" rel="stylesheet" type="text/css"/>
  <link href="/layui/css/layui.css" th:href="@{/layui/css/layui.css}" rel="stylesheet">
  <link href="/css/common.css" th:href="@{/css/common.css}" rel="stylesheet">

  <script src="/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
  <script  src="/js/Questions.js" th:src="@{/js/Questions.js}" type="text/javascript"></script>
<script>
var HH = 0;//时
var mm = 0;//分
var ss = 0;//秒
var timeState = true;//时间状态 默认为true 开启时间
var questionsRequest = $.ajax({
    url: '/getQuestionList',
    type: 'POST',
    dataType: 'JSON',
    cache : false,
    async:false,
    success: function (data) {
        return data;
    }
});
var questions=JSON.parse(questionsRequest.responseText);
var qlength = questions.length;
var itemList=["A","B","C","D"]
/*var itemList=["A","B","C","D","E","F"]*/
var activeQuestion=0; //当前操作的考题编号
var questioned = 0; //
var checkQues = []; //已做答的题的集合

var strtoshow = '';

/*实现计时器*/
var time = setInterval(function () {
    if (timeState) {
        if (HH == 24) HH = 0;
        str = "";
        if (++ss == 60) {
            if (++mm == 60) { HH++; mm = 0; }
            ss = 0;
        }
        str += HH < 10 ? "0" + HH : HH;
        str += ":";
        str += mm < 10 ? "0" + mm : mm;
        str += ":";
        str += ss < 10 ? "0" + ss : ss;
        $(".time").text(str);
    } else {
        $(".time").text(str);
    }
}, 1000);
//展示考卷信息
function showQuestion(id){
    $(".questioned").text(id+1);
    questioned = (id+1)/qlength;
    if(activeQuestion!=undefined){
        $("#ques"+activeQuestion).removeClass("question_id").addClass("active_question_id");
    }
    activeQuestion = id;
    $(".question").find(".question_info").remove();

    //console.log(questions[0].questionId);
    var question = questions[id];
    $(".question_title").html("<strong>第 "+(id+1)+" 题 、</strong>"+question.questionTitle);
    var items = question.questionItems.split(";");
    var item="";
    for(var i=0;i<items.length;i++){
        item ="<li class='question_info' onclick='clickTrim(this)' id='item"
                +i+"'><input type='radio' name='item' value='"+itemList[i]+"'>&nbsp;"+itemList[i]+"."+items[i]+"</li>";
        $(".question").append(item);
    }
    $(".question").attr("id","question"+id);
    $("#ques"+id).removeClass("active_question_id").addClass("question_id");
    for(var i=0;i<checkQues.length;i++){
        if(checkQues[i].id==id){
            $("#"+checkQues[i].item).find("input").prop("checked","checked");
            $("#"+checkQues[i].item).addClass("clickTrim");
            $("#ques"+activeQuestion).removeClass("question_id").addClass("clickQue");
        }
    }
    progress();
}

/*答题卡*/
function answerCard(){
    $(".question_sum").text(qlength);
    for(var i=0;i<qlength;i++){
        var questionId ="<li id='ques"+i+"'onclick='saveQuestionState("+i+")' class='questionId'>"+(i+1)+"</li>";
        $("#answerCard ul").append(questionId);
    }
}

/*选中考题*/
var Question;
function clickTrim(source){
    var id = source.id;
    $("#"+id).find("input").prop("checked","checked");
    $("#"+id).addClass("clickTrim");
    $("#ques"+activeQuestion).removeClass("question_id").addClass("clickQue");
    var ques =0;
    for(var i=0;i<checkQues.length;i++){
       if( checkQues[i].id==activeQuestion&&checkQues[i].item!=id){
           ques = checkQues[i].id;
           checkQues[i].item = id;//获取当前考题的选项ID
           checkQues[i].answer =$("#"+id).find("input[name=item]:checked").val();//获取当前考题的选项值
       }
    }
    if(checkQues.length==0||Question!=activeQuestion&&activeQuestion!=ques){
        var check ={};
        check.id=activeQuestion;//获取当前考题的编号
        check.item = id;//获取当前考题的选项ID
        check.answer =$("#"+id).find("input[name=item]:checked").val();//获取当前考题的选项值
        checkQues.push(check);
    }
    $(".question_info").each(function(){
        var otherId =$(this).attr("id");
        if(otherId!=id){
            $("#"+otherId).find("input").prop("checked",false);
            $("#"+otherId).removeClass("clickTrim");
        }
    })
    Question = activeQuestion;
}

/*设置进度条*/
function progress(){
    var prog = ($(".active_question_id").length+1)/qlength;
    var pro = $(".progress").parent().width() * prog;
    $(".progres").text((prog*100).toString().substr(0,5)+"%")
    $(".progress").animate({
        width: pro,
        opacity: 0.5
    }, 1000);
}

/*保存考题状态 已做答的状态*/
function saveQuestionState(clickId){
    showQuestion(clickId)
}

$(function(){
    $(".middle-top-left").width($(".middle-top").width()-$(".middle-top-right").width())
    $(".progress-left").width($(".middle-top-left").width()-200);
    progress();
    answerCard();
    showQuestion(0);
    /*alert(QuestionJosn.length);*/
    /*实现进度条信息加载的动画*/
    var str = '';
    /*开启或者停止时间*/
    $(".time-stop").click(function () {
        timeState = false;
        $(this).hide();
        $(".time-start").show();
    });
    $(".time-start").click(function () {
        timeState = true;
        $(this).hide();
        $(".time-stop").show();
    });

    /*收藏按钮的切换*/
    $("#unHeart").click(function(){
        $(this).hide();
        $("#heart").show();
    })
    $("#heart").click(function(){
        $(this).hide();
        $("#unHeart").show();
    })

    /*答题卡的切换*/
    $("#openCard").click(function(){
        $("#closeCard").show();
        $("#answerCard").slideDown();
        $(this).hide();
    })
    $("#closeCard").click(function(){
        $("#openCard").show();
        $("#answerCard").slideUp();
        $(this).hide();
    })

    //提交试卷
    $("#submitQuestions").click(function(){
        /**
         * 怎么说，这里这一段写的有点low 但是将就着看把，我前端就只能做到这了，emmm....
         */
/*        if(qlength-($(".clickQue").length) != 0){
            alert("提示：您还有"+(qlength-($(".clickQue").length))+"道题未完成，再想想？");
            showQuestion(0);
        }*/

        //遍历Json数组 [{"id":0,"item":"item2","answer":"C"},{"id":1,"item":"item0","answer":"A"}]
        var worongstr = "";
        var strtotip ="";
        var count = checkQues.length;
        var item = new Array([4]);
        for (var i = 0, l = checkQues.length; i < l; i++) {//遍历json数组时，这么写p为索引，0,1
            var p = checkQues[i];
            var que = questions[i];
            var answer;
            var rightanswer;
            item = que.questionItems.split(";");
            console.log(que.questionItems);
            console.log(item[0]);
            if(p.answer == "A"){
                answer=item[0];
            }
            else if(p.answer == "B"){
                answer=item[1];
            }else if(p.answer == "C"){
                answer=item[2];
            }else if(p.answer == "D"){
                answer=item[3];
            }

            if(que.questionAnswer == "A"){
                rightanswer=item[0];
            }
            else if(que.questionAnswer == "B"){
                rightanswer=item[1];
            }else if(que.questionAnswer == "C"){
                rightanswer=item[2];
            }else if(que.questionAnswer == "D"){
                rightanswer=item[3];
            }

            if(p.answer!=que.questionAnswer){//答错了
                count--;
                worongstr = worongstr+'题目：' +que.questionTitle+' 正确答案"'+rightanswer+'",你的回答是"'+answer+'"<br>';
            }
        }
        if(count == 0){
            alert("由于你没有作答，所以系统决定重新加载一套试题");
            window.parent.location.reload();
        }
        if(count  ==  checkQues.length){
            worongstr="";
            strtotip = '真棒，全部对答了，看来我要增加难度了，接招吧，地球人！';
        }else{
            strtotip = '好可惜，你回答错了'+count+'道题，如下：<br>';
        }
        strtoshow = strtoshow +'<div style="padding: 50px; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 300;">' +strtotip + worongstr +'</div>'
    })

    //进入下一题
    $("#nextQuestion").click(function(){
        console.log(activeQuestion+1);
        if(activeQuestion+1 >= qlength){
            alert('这一已经是最后一题');
        }
        if((activeQuestion+1)!=qlength) showQuestion(activeQuestion+1);
        showQuestion(activeQuestion)
    })
})
</script>

<style type="text/css">
  a:link{text-decoration:none;} /*指正常的未被访问过的链接*/
  a:visited{text-decoration:none;} /*指已经访问过的链接*/
  a:hover{text-decoration:none;} /*指鼠标在链接*/
  a:active{text-decoration:none;} /*指正在点的链接*/
</style>

</head>
<body>
<!--引入公共顶栏-->
<div th:replace="common::topbar"></div>
<!--引入公共导航栏-->
<div th:replace="common::daohangbar"></div>


<div style="overflow: hidden;background-color: #f3f3f3;width: 90%;margin: 40px auto;padding-top: 20px;">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="content">
      <div class="row">
        <div class="btn-group">
          <button class="btn btn-default" type="button" onClick="history.go(-1);">返回上一个页面</button>
          <button class="btn btn-default" type="button" onClick="location.reload()">刷新</button>
        </div>
      </div>
     
      <div style="width: 100%;height:auto;display: inline-block;border: 1px solid white;position: relative;margin-top:10px;">
        <div style="width: 100%;">
          <div style="width: 80%;margin: 0px auto">
            <div style="width: 100%;height:100px;border: 1px solid #CCC;border-bottom:none;background:#FFF;">
              <div class="middle-top" style="width: 100%;height: 50px;border-bottom: 1px solid #CCC;background:#2D3339; position:relative;">
                <div class="middle-top-left pull-left"
                                     style="height: 100%;padding-left: 20px;;background:#232C31;color:#FFF;">
                  <div class="text-center pull-left progress-left"
                                         style="border: 1px solid #A2C69A;background:#FFF;border-radius:10px;line-height:20px;height:20px;margin:15px 0px 15px 0px;font-size: 11px;position:relative;">
                    <div class="progress pull-left"
                                             style="background: #609E53;width: 0px;height:18px;position:absolute;left: 0px;"></div>
                    <div class="pro-text" style="left: 0px;color: #609E53;position:absolute;top:0px;width:100%;"> 已完成<span class="progres"></span></div>
                  </div>
                  <div class="pull-left" style=" width:135px;line-height:20px;height:20px;margin:15px;font-size:15px;"> 
                    <!--已做答的数量和考题总数--> 
                    当前第<span class="questioned"></span>题/共<span class="question_sum"></span>题 </div>
                </div>
                <div class="middle-top-right text-center pull-left"
                                     style="width:160px; height: 100%;border-left: 1px solid red;position: absolute;right: 0px;">
                  <div class="stop pull-left" style="width: 50px; height: 100%;padding: 10px;"> <a href="javascript:void(0);" class="text-center" style="color: #FE6547;">
                    <div class="time-stop glyphicon glyphicon-pause" title="暂停"
                                                 style="width:30px;height: 30px;line-height:30px; border-radius:15px;border: 1px solid #FE6547;"></div>
                    <div class="time-start glyphicon glyphicon-play" title="开始"
                                                 style="width:30px;height: 30px;line-height:30px;border-radius:15px;border: 1px solid #FE6547;display:none;"></div>
                    </a> </div>
                  <div class="pull-left"  style="width: 100px; height: 100%;padding: 10px 0px 10px 0px;">
                    <div class="time" style="width:100px;height: 30px;line-height:30px; border-radius:15px;font-size:20px;color:#FFF;"> </div>
                  </div>
                </div>
              </div>
              <div style="width: 100%;height: 50px;font-size:15px;color: #000;line-height: 50px;padding-left: 20px;">
                <div style="color:#FFF;background: red;width: 22px;height: 22px;border-radius:11px;line-height:22px;font-size:13px; text-align: center;"
                                     class="glyphicon glyphicon-map-marker"></div>
                [单选题] </div>
            </div>
            <div style="width: 100%;height:auto;display: inline-block;border: 1px solid #CCC;border-bottom:1px dashed #CCC;background:#FFF;">
              <div style="width: 100%;height: 90%;padding:20px 20px 0px 20px;"> 
                <!--试题区域-->
                <ul class="list-unstyled question" id="" name="">
                  <li class="question_title"></li>
                </ul>
                <!--考题的操作区域-->
                <div class="operation" style="margin-top: 20px;">
                  <div class="text-left" style="margin-left:20px;font-size: 15px;float: left;line-height: 30px;">
                    <div id="unHeart" style="color:#999999;"> <span class="glyphicon glyphicon-heart-empty"></span> <span>收藏本题</span> </div>
                    <div id="heart" style="color:#C40000;display: none;"> <span class="glyphicon glyphicon-heart"></span> <span>已收藏</span> </div>
                  </div>
                  <div class="text-right" style="margin-right: 20px;">
                    <div class="form-group" style="color: #FFF;">
                        <div class="site-demo-button" id="layerDemo" style="margin-bottom: 0;">
                            <button class="btn btn-success layui-btn" id="submitQuestions" data-method="notice">提交试卷</button>
                           <!-- <button  data-method="notice" class="layui-btn">示范一个公告层</button>-->
                            <button class="btn btn-info" id="nextQuestion">下一题</button>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div style="width: 100%;height:auto;display: inline-block;border: 1px solid #CCC;border-top:none;background:#FFF;">
              <div style="width: 100%;padding:20px;">
                <div class="panel-default">
                  <div class="panel-heading" id="closeCard" style="color: #DCE4EC;font-size: 15px;display: none;background: none;">
                  <span>收起答题卡</span> <span class="glyphicon glyphicon-chevron-up"></span> </div>
                <div class="panel-heading" id="openCard" style="font-size: 15px;background: none;"> <span>展开答题卡</span> <span class="glyphicon glyphicon-chevron-down"></span> </div>
                <div id="answerCard" style="display: none;">
                  <div class="panel-body form-horizontal" style="padding: 0px;">
                    <ul class="list-unstyled">
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="width: 100%;height: auto;display: inline-block;border: 1px solid white;">
      <div class="text-center" style="width: 100%;"> 底部 </div>
    </div>
  </div>
</div>
<!--<div class="col-md-1"></div>-->
</div>

<!--引入公共底部地址栏-->
<div th:replace="common::bottombar" style="height: auto"></div>
</body>
<script type="text/javascript" src="layui/layui.js" th:src="@{/layui/layui.js}"></script>
<script>
    // 导航控制
    layui.use('element', function(){
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
        //监听导航点击
        element.on('nav(demo)', function(elem){
            //console.log(elem)
            layer.msg(elem.text());
        });
    });

</script>
<script>
    layui.use('layer', function(){ //独立版的layer无需执行这一句
        var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句
          //触发事件
          var active = {
            notice: function(){
                //示范一个公告层
                layer.open({
                    type: 1
                    ,title: false //不显示标题栏
                    ,closeBtn: false
                    ,area: '600px;'
                    ,shade: 0.8
                    ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
                    ,btn: ['再战一场', '回到首页']
                    ,btnAlign: 'c'
                    ,moveType: 1 //拖拽模式，0或者1
                    ,content: strtoshow
                 /*   ,success: function(){
                        window.location.href="/socketQuestion";

                        我也不知道这里为什么要这样写，反正这样写就对了，用原来的它会新建一个页面。
                        xiaosha 2019-2-19
                    }*/
                    ,end: function () {//重新加载这个页面
                        window.parent.location.reload();
                        $(".layui-laypage-btn0").click();//弹出框  关闭后刷新，停留在当前页
                    }
                    ,btn2: function(){//跳转的首页
                        window.location.href="/backindex";
                    }
                });
            }
            ,offset: function(othis){
                var type = othis.data('type')
                    ,text = othis.text();
                layer.open({
                    type: 1
                    ,offset: type //具体配置参考：http://www.layui.com/doc/modules/layer.html#offset
                    ,id: 'layerDemo'+type //防止重复弹出
                    ,content: '<div style="padding: 20px 100px;">'+ text +'</div>'
                    ,btn: '关闭全部'
                    ,btnAlign: 'c' //按钮居中
                    ,shade: 0 //不显示遮罩
                    ,yes: function(){
                        layer.closeAll();
                    }
                });
            }
        };

        $('#layerDemo .layui-btn').on('click', function(){
            var othis = $(this), method = othis.data('method');
            active[method] ? active[method].call(this, othis) : '';
        });

    });
</script>
</html>