<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>青叶单词训练</title>
    <link href="/layui/css/layui.css" th:href="@{/layui/css/layui.css}" rel="stylesheet">
    <link href="/css/common.css" th:href="@{/css/common.css}" rel="stylesheet">
    <script src="/js/jquery-1.9.1.min.js" th:src="@{/js/jquery-1.9.1.min.js}"></script>
    <style type="text/css">
        body {
            background: #f4fbdb;
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 16px;
            color:#000;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<!--引入公共顶栏-->
<div th:replace="common::topbar"></div>
<!--引入公共导航栏-->
<div th:replace="common::daohangbar"></div>
<!--列表和表单-->
<div class="box" style="width: 100%;margin-top:50px;overflow:hidden;margin-bottom: 50px">

    <div style="width: 60%;margin-left:2.5%;float: left">
        <table class="layui-hide" id="test" lay-filter="test"></table>
    </div>

    <div style="width: 35%;margin-left:2.5%;float: right;margin-top: 10px">

        <form class="layui-form layui-form-pane" th:action="@{/getQuestion}"  th:object="${que}"method="post">
            <div class="layui-form-item">
                <label class="layui-form-label">单词</label>
                <div class="layui-input-block">
                    <input type="text" name="word" autocomplete="off" placeholder="请输入英语词汇" class="layui-input" style="width:70%;float: left">
                    <button class="layui-btn" lay-submit="" style="width: 30%;float:left">查询</button>
                </div>
            </div>
        </form>


        <!--th:action="@{/submitQuestion}" -->
        <form id="subque" class="layui-form layui-form-pane" method="post">
            <!--这里放单词和发音还有发音按钮-->
            <fieldset class="layui-elem-field">
                <legend id="word1" th:utext="${que.word}" style="font-size:48px">单词放这</legend>
                <div class="layui-field-box">
                    <i id="btmpronounce1" class="layui-icon layui-icon-speaker" style="cursor: pointer;font-size:20px; color: #1E9FFF;margin-left: 20px;margin-right: 20px;"><span style="font-size: 20px">发音</span></i>
                    <audio id="btnaudio1"><source id="wordaudio1" src="http://dict.youdao.com/dictvoice?audio=hello" type="audio/mpeg"></audio>

<!--                    <i id="btmpronounce2" class="layui-icon layui-icon-speaker" style="cursor: pointer;font-size:20px; color: #1E9FFF;margin-left: 20px;margin-right: 20px;"><span style="font-size: 20px">英式</span></i>
                    <audio id="btnaudio2"><source id="wordaudio2" src="http://dict.youdao.com/dictvoice?audio=hello" type="audio/mpeg"></audio>-->
                    <text id="pronounce"th:utext=" ${que.pronounce}">发音放这</text>
                </div>
            </fieldset>

            <!--这两个是隐藏的-->
            <input type="hidden" name="_method" value="put" th:if="${que!=null}"/>
            <input type="hidden" name="id" th:if="${que!=null}" th:value="${que.qid}">

            <div class="layui-form-item">
                <label class="layui-form-label">添加/修改</label>
                <div class="layui-input-block">
                    <input type="text" id="word2" name="word" autocomplete="off" placeholder="请输入英语词汇" class="layui-input" th:value="${que!=null}?${que.word}">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">中文</label>
                <div class="layui-input-block">
                    <input type="text" id="answer" name="answer" autocomplete="off" placeholder="请输入中文含义" class="layui-input" th:value="${que!=null}?${que.answer}">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">干扰项一</label>
                    <div class="layui-input-inline" style="width: 290px">
                        <input type="text" id="option1" name="option1" autocomplete="off" placeholder="请填写容易混淆的中文哦"class="layui-input" th:value="${options!=null}?${options[0]}">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">干扰项二</label>
                    <div class="layui-input-inline" style="width: 290px">
                        <input type="text" id="option2" name="option2" autocomplete="off" class="layui-input" th:value="${options!=null}?${options[1]}">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">干扰项三</label>
                    <div class="layui-input-inline" style="width: 290px">
                        <input type="text" id="option3" name="option3" autocomplete="off" class="layui-input" th:value="${options!=null}?${options[2]}">
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">单词难度</label>
                <div class="layui-input-block" style="width: 290px;">
                    <select id="sel" name="level" lay-filter="aihao">
                        <option value="1" th:selected="${que.level==1}">中小学词汇</option>
                        <option value="2" th:selected="${que.level==2}">四六级词汇</option>
                        <option value="3" th:selected="${que.level==3}">考研高频词汇</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item" style="margin-bottom: 100px">
                <button id="submit" class="layui-btn" lay-submit="" lay-filter="demo2">确认修改/新增</button>
            </div>
        </form>
    </div>
</div>
<!--引入公共底部地址栏-->
<div th:replace="common::bottombar"></div>
</body>

<script type="text/javascript" src="layui/layui.js" th:src="@{/layui/layui.js}"></script>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
        <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
        <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
    </div>
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    // 导航控制
    layui.use('element', function(){
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
        //监听导航点击
        element.on('nav(demo)', function(elem){
            //console.log(elem)
            layer.msg(elem.text());
        });
    });

    layui.use(['carousel', 'form'], function(){
        var carousel = layui.carousel
            ,form = layui.form;
        //图片轮播
        carousel.render({
            elem: '#test10'
            ,width: '70%'
            ,height: '500px'
            ,interval: 5000
        });
        var $ = layui.$, active = {
            set: function(othis){
                var THIS = 'layui-bg-normal'
                    ,key = othis.data('key')
                    ,options = {};
                othis.css('background-color', '#5FB878').siblings().removeAttr('style');
                options[key] = othis.data('value');
                ins3.reload(options);
            }
        };
        //监听开关
        form.on('switch(autoplay)', function(){
            ins3.reload({
                autoplay: this.checked
            });
        });
        $('.demoSet').on('keyup', function(){
            var value = this.value
                ,options = {};
            if(!/^\d+$/.test(value)) return;
            options[this.name] = value;
            ins3.reload(options);
        });
    });
</script>

<script type="text/javascript">
    layui.use('table', function(){
        var table = layui.table;
        var level = [[${level}]];
        var urltopage = '/getPage?levle='+level;
        /*alert(urltopage);*/
        table.render({
            elem: '#test'
            ,url: urltopage
            ,toolbar: '#toolbarDemo'
            ,title: '单词表'
            ,totalRow: true
            ,cols: [
                [
                    {type: 'checkbox', fixed: 'left'},
                    {field:'qid', title:'ID', width:80, fixed: 'left',sort: true},
                    {field:'word', title:'单词', width:150, edit: 'text'},
                    {field:'answer', title:'意思', width:180,edit: 'text'},
                    {field:'pronounce', title:'发音', width:100},
                    {field:'level', title:'难度', width:50,sort: true,},
                    {field:'options', title:'干扰选项', width:300,edit: 'text'},
                    {fixed: 'right', title:'操作', toolbar: '#barDemo', width:120}
                ]
            ]
            ,page: true
            ,limit: 20
        });
        //工具栏事件
        table.on('toolbar(test)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：'+ data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选': '未全选')
                    break;
            };
        });
        // 执行搜索，表格重载
        $('#do_search').on('click', function () {
            // 搜索条件
            var send_name = $('#send_name').val();
            var send_data = $('#send_data').val();
            table.reload('tableOne', {
                method: 'post'
                , where: {
                    'csrfmiddlewaretoken': token,
                    'send_name': send_name,
                    'send_data': send_data,
                }
                , page: {
                    curr: 1
                }
            });
        });


        //数据表单条的编辑和删除
        table.on('tool(test)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的DOM对象

            if(layEvent === 'del'){ //删除
                layer.confirm('确认删除“'+data.word+"”这个单词吗?", function(index){
                    $.ajax({
                        url:'/deleteQuestion',
                        type:'post',
                        data:{'id':data.qid},//向服务端发送删除的id
                        success:function(suc){
                            if(suc==200){
                                obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                                layer.close(index);
                                console.log(index);
                                layer.msg("删除成功",{icon:1});
                            }
                            else{
                                layer.msg("删除失败",{icon:5});
                            }
                        }
                    });
                    layer.close(index);
                });
            }

            if(layEvent === 'edit'){ //编辑
                    $.ajax({
                        url:'/editQuestion',
                        type:'post',
                        data:{'word':data.word},     //向服务端发送编辑的单词
                        success:function(success){
                            //console.log(success);
                            //还是免不掉拼接字符串刷新页面
                            var str= '';
                            strWord1 = str + '<legend style="font-size:48px" id="word1">'+ success.word + '</legend>';
                            strPronounce = str +'<text id="pronounce">'+ success.pronounce +'</text>';//<text id="pronounce">发音放这</text>
                            $("#word1").html(strWord1);
                            $("#pronounce").html(strPronounce);
                            $("#word2").attr("value",success.word);
                            $("#answer").attr("value",success.answer);
                            $("#option1").attr("value",success.option1);
                            $("#option2").attr("value",success.option2);
                            $("#option3").attr("value",success.option3);
                            var sel=document.getElementById('sel');
                            var form = layui.form;
                            for(var i=0;i <sel.options.length;i++) {
                                if(parseInt(sel.options[i].value ) == success.level){
                                    sel.options[i].selected = true;
                                    form.render();//重新渲染一下
                                    break;
                                }
                            }
                        }
                    });
            }
        });
    });

    var level = 2;
   $("#submit").on("click",function(){
        var data = $('#subque').serialize();
        $.ajax({
            url:'/submitQuestion',
            type:'post',
            data:data,
            success:function(que){
            }
        });
       alert('修改/增加数据成功，页面已经刷新，可以进行单词查询');
       //window.parent.location.reload();
       var href ="/backtolist";
       console.log(href);
       window.location.href=href;
    });

    $("#btmpronounce1").on("click",function(){
    // 1. 美式：http://media.shanbay.com/audio/us/%s.mp3   //var src = 'http://media.shanbay.com/audio/us/'+word+'.mp3';
    // 2. 英式：http://media.shanbay.com/audio/uk/%s.mp3
        var audio = document.getElementById('btnaudio1');
        var source = document.getElementById("wordaudio1");
        var word = document.getElementById('word1').innerText;
        var src = 'http://dict.youdao.com/dictvoice?audio='+word;   //这个是有道的
        audio.volume = 0.8;
        source.src = src;
        // console.log(word);
        // console.log(src);
        audio.src = src;
        audio.play();
        /*      这里写了一个下午 难受 尝试了各种办法  ajax不行，写Java代码不行，最后发现直接写这个标签可以，中途也是很曲折的
        var str = '<source src="http://dict.youdao.com/dictvoice?audio='+word+'" type="audio/mpeg">';
        console.log(word);
        console.log(str);
        $("#wordaudio").html(str);*/
    });

    /**
     * 下边是英式的   想写啊 但是发现 美式 和 英式的发音的文本还不太一样   所以  放弃 ！
     */
 /*   $("#btmpronounce2").on("click",function(){
        var audio = document.getElementById('btnaudio12');
        var source = document.getElementById("wordaudio2");
        var word = document.getElementById('word1').innerText;
        var src = 'http://media.shanbay.com/audio/uk/'+word+'.mp3';
        source.src = src;
        audio.src = src;
        audio.play();

    });*/

</script>
</html>